**/*~
**/*.o
**.*.gch
**/*.d
**/*.orig
**/*.a
**/*.so
**/*.so.*
**/*.swp
**/*.swo
**/.#*
**/*.tmp
**/a.out
**/.DS_Store
**/thumbs.db
**/*.cfg
file.out std.out
.idea
CMakeLists.txt
**/*.fasta
**/*.gfasta
